In [4]:
import pandas as pd

In [5]:
metrica = pd.read_csv("TEF.csv")

In [6]:
metrica.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  2017-09-21  10.76  10.80  10.73  10.79   7.973684   536200
1  2017-09-22  10.79  10.81  10.74  10.78   7.966295   947800
2  2017-09-25  10.74  10.75  10.60  10.68   7.892396  1161000
3  2017-09-26  10.55  10.56  10.49  10.54   7.788938  1003200
4  2017-09-27  10.77  10.86  10.77  10.83   8.003243  1475500

In [31]:
open_result = metrica[['Date','Open']]
close_result = metrica[['Date','Close']]
volume_result = metrica[['Date','Volume']]

In [42]:
valoropenmax = open_result['Open'].max()
valoropenmin = open_result['Open'].min()
valorclosemin = close_result['Close'].min()
valorvolumemin = volume_result['Volume'].min()

In [39]:
print('Valores de apertura')
print('Día y valor en el cual la apertura es el máximo')
print (open_result[open_result.Open==valoropenmax])

print('Día y valor en el cual el valor es el mínimo')
print (open_result[open_result.Open==valoropenmin])

Valores de apertura
Día y valor en el cual la apertura es el máximo
          Date   Open
14  2017-10-11  10.83
Día y valor en el cual el valor es el mínimo
           Date  Open
782  2020-10-29  3.26

In [43]:
print('Valores de cierre')
print('Día y valor en el cual la apertura es el máximo')
print (close_result[open_result.Open==valoropenmax])

print('Día y valor en el cual el valor es el mínimo')
print (close_result[close_result.Close==valorclosemin])

Valores de cierre
Día y valor en el cual la apertura es el máximo
          Date  Close
14  2017-10-11  10.88
Día y valor en el cual el valor es el mínimo
           Date  Close
783  2020-10-30   3.32

In [44]:
print('Valores de volumen')
print('Día y valor en el cual la apertura es el máximo')
print (volume_result[open_result.Open==valoropenmax])

print('Día y valor en el cual el valor es el mínimo')
print (volume_result[volume_result.Volume==valorvolumemin])

Valores de volumen
Día y valor en el cual la apertura es el máximo
          Date   Volume
14  2017-10-11  1180200
Día y valor en el cual el valor es el mínimo
           Date  Volume
666  2020-05-15  395200

In [ ]:
#Explicación:
#Lo primero que hicimos fue importar la librería pandas e importar nuestra bbdd, luego visualizamos nuestra tabla con la función .head() para que nos ayude visualmente.
#Luego cómo el enunciado nos pide Fecha y valor en una sola respuesta, generamos la forma en cómo haríamos el llamado a los resultados
#Luego procedimos a hallar los valores solicitados: max y min de Apertura, min de Cierre y Volumen.
#Finalmente hicimos el llamado de los resultados jalando las columnas correspondientes al valor solicitado